body {
  background-color: #D9D2CB;
}
h1{
  color: #F4F3EE;
  font-size: 400%;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  letter-spcaing: 5px;
  padding: 50px;
  line-height: 100px;
}
u1{
  list-style-type: none;
  background-color: #B2A496;
  width: 100%; 
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  margin 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: #F4F3EE;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-decoration: none;
  padding: 25px 50px;
}
li a:hover {
  color: #886E58;
}
